POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
DATABASE_URL=postgres://<USERNAME>:<PASSWORD>@postgres:5432/<POSTGRES_DB>
CORS_ORIGIN=https://yourfrontend.com,https://admin.yourfrontend.com
